* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.narrow {
  color: white;
  background-color: black;
}
.menu-container {
  background-color: rgb(240, 227, 229);
    display: flex; justify-content: space-between;
    flex-direction: row;
    padding: 1em;
}
.one, .two, .three, .four, .five, .six {
  color: blue;
  background-color: white;
  display: flex;
  justify-content: center;
}
.logo {
  color: red;
  background-color: white;
  display: flex;
  justify-content: center;
}
.color-4 {
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.wide {
  color: white;
  background-color: black;
}
.menu-container2 {
  background-color: rgb(240, 227, 229);
    display: flex; justify-content: space-between;
    flex-direction: row;
    padding: 1em;
}
.one-wide, .two-wide, .three-wide, .four-wide, .five-wide, .six-wide {
  color: blue;
  background-color: white;
  display: flex;
  justify-content: center;
}
.logo-wide {
  color: red;
  background-color: white;
  display: flex;
  justify-content: center;
}